# Credenciais mongo (restaurant-db)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=mongodb://user:senha@restaurant-db:27017/restaurant?authSource=admin

# Porta (restaurant-app)
PORT=3000
