# Credenciais mongo (delivery-db)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=mongodb://user:senha@delivery-db:27017/delivery?authSource=admin

# Porta (delivery-app)
PORT=3000
